# Spark Connect Example
Demonstrates connecting to Spark via Spark Connect protocol

In [ ]:
from spark_config import get_spark_session

# Connect to Spark Connect server
spark = get_spark_session(app_name="SparkConnectDemo")
spark

In [ ]:
# Create a simple DataFrame
data = [("Alice", 34), ("Bob", 45), ("Charlie", 29)]
df = spark.createDataFrame(data, ["name", "age"])
df.show()

In [ ]:
# SQL operations
df.createOrReplaceTempView("people")
result = spark.sql("SELECT * FROM people WHERE age > 30")
result.show()

In [ ]:
# Convert to pandas
pdf = df.toPandas()
print(pdf)

In [ ]:
# Stop session
spark.stop()