# PySpark pandas API (formerly Koalas)
Pandas-like interface for big data with Spark

In [ ]:
from spark_config import get_spark_session

# Initialize Spark session
spark = get_spark_session(app_name="PandasAPIDemo")

In [ ]:
# Import pandas API on Spark
import pyspark.pandas as ps
import pandas as pd

# Set default index type for better performance
ps.set_option('compute.default_index_type', 'distributed')

In [ ]:
# Create DataFrame - same syntax as pandas
psdf = ps.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'age': [34, 45, 29, 52, 38],
    'city': ['Moscow', 'SPb', 'Moscow', 'SPb', 'Moscow'],
    'salary': [100000, 120000, 90000, 150000, 110000]
})

psdf.head()

In [ ]:
# Pandas-like operations - all work on distributed data

# Filtering
adults = psdf[psdf['age'] > 35]
print("People over 35:")
print(adults)

In [ ]:
# GroupBy - works on cluster
city_stats = psdf.groupby('city').agg({
    'salary': ['mean', 'sum', 'count'],
    'age': 'mean'
})
print("Stats by city:")
print(city_stats)

In [ ]:
# Read from S3
# psdf = ps.read_csv("s3a://bucket/data.csv")
# psdf = ps.read_parquet("s3a://bucket/data.parquet")

In [ ]:
# Convert to regular Spark DataFrame if needed
spark_df = psdf.to_spark()
spark_df.printSchema()

In [ ]:
# Convert to regular pandas (be careful with large data)
pandas_df = psdf.to_pandas()
print(type(pandas_df))

In [ ]:
spark.stop()